## Name - Vaibhav R. Gudulkar

# Assignment - Logistic Regression (bank-full.csv)

In [11]:
# Importing the Libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [18]:
df=pd.read_csv("bank-full.csv",sep=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [19]:
df.sample(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
28179,35,technician,married,secondary,no,149,yes,no,cellular,29,jan,99,1,245,2,failure,no
30516,41,unemployed,married,primary,no,4112,no,no,cellular,5,feb,764,2,-1,0,unknown,no
37451,36,blue-collar,married,secondary,no,330,yes,no,cellular,13,may,777,2,-1,0,unknown,no
8388,41,blue-collar,married,secondary,no,-256,yes,no,unknown,3,jun,147,2,-1,0,unknown,no
43109,37,unemployed,married,tertiary,no,7620,no,no,telephone,23,feb,367,1,176,6,failure,yes
32156,38,blue-collar,divorced,secondary,no,1344,yes,no,cellular,15,apr,942,2,-1,0,unknown,no
22452,46,management,single,tertiary,no,0,no,no,cellular,22,aug,686,2,-1,0,unknown,yes
16795,43,housemaid,married,primary,no,169,no,yes,telephone,24,jul,172,5,-1,0,unknown,no
25818,51,technician,married,secondary,no,8863,no,no,cellular,19,nov,435,2,-1,0,unknown,no
13441,59,unemployed,married,tertiary,no,6,yes,no,cellular,9,jul,275,1,-1,0,unknown,no

In [2]:
df.shape

(45211, 17)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [8]:
df_1= df.drop(['month','day'],axis=1)

In [9]:
df_1=pd.get_dummies(data=df_1, columns=['job','marital','education',"default",'housing','loan','contact','poutcome','y'])
df_1

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,58,2143,261,1,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
1,44,29,151,1,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
2,33,2,76,1,-1,0,0,0,1,0,...,1,0,0,1,0,0,0,1,1,0
3,47,1506,92,1,-1,0,0,1,0,0,...,0,0,0,1,0,0,0,1,1,0
4,33,1,198,1,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,977,3,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
45207,71,1729,456,2,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
45208,72,5715,1127,5,184,3,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
45209,57,668,508,4,-1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
45210,37,2971,361,2,188,11,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [20]:
df_1=df_1.drop(['y_no'],axis=1)

In [21]:
df_1= df_1.rename({'y_yes':'Subscribed'},axis=1)

In [22]:
df_1.corr()

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,Subscribed
age,1.000000,0.097783,-0.004648,0.004760,-0.023758,0.001288,-0.055717,-0.044002,0.021792,0.086650,...,0.015655,-0.015655,-0.068375,0.170349,-0.020132,-0.004927,-0.022967,0.035526,-0.000816,0.025155
balance,0.097783,1.000000,0.021560,-0.014578,0.003435,0.016674,-0.026726,-0.048757,0.009642,0.001661,...,0.084350,-0.084350,0.015880,0.037999,-0.037331,0.011857,0.008466,0.035240,-0.030271,0.052838
duration,-0.004648,0.021560,1.000000,-0.084570,-0.001565,0.001203,-0.015722,0.009637,-0.001327,-0.008046,...,0.012412,-0.012412,0.025543,-0.023201,-0.014379,-0.018925,-0.001958,0.042389,-0.003491,0.394521
campaign,0.004760,-0.014578,-0.084570,1.000000,-0.088628,-0.032855,-0.021868,0.008986,0.002128,0.003097,...,-0.009980,0.009980,-0.032271,0.053895,0.004853,-0.088131,-0.020107,-0.057486,0.107965,-0.073172
pdays,-0.023758,0.003435,-0.001565,-0.088628,1.000000,0.454820,0.027497,0.020063,-0.014203,-0.031350,...,0.022754,-0.022754,0.225996,0.016006,-0.247068,0.701052,0.389791,0.228539,-0.869962,0.103621
previous,0.001288,0.016674,0.001203,-0.032855,0.454820,1.000000,0.014245,-0.017095,-0.008181,-0.015204,...,0.011043,-0.011043,0.131717,0.028097,-0.154162,0.350627,0.306615,0.201424,-0.532763,0.093236
job_admin.,-0.055717,-0.026726,-0.015722,-0.021868,0.027497,0.014245,1.000000,-0.188216,-0.066273,-0.060349,...,-0.030781,0.030781,0.000660,-0.012291,0.005961,0.018431,0.010745,0.012056,-0.025940,0.005637
job_blue-collar,-0.044002,-0.048757,0.009637,0.008986,0.020063,-0.017095,-0.188216,1.000000,-0.096585,-0.087951,...,-0.018291,0.018291,-0.129316,-0.003190,0.138141,0.002254,0.001342,-0.053074,0.022194,-0.072083
job_entrepreneur,0.021792,0.009642,-0.001327,0.002128,-0.014203,-0.008181,-0.066273,-0.096585,1.000000,-0.030969,...,-0.039808,0.039808,-0.002386,-0.004338,0.004867,0.001119,-0.013506,-0.019111,0.014901,-0.019662
job_housemaid,0.086650,0.001661,-0.008046,0.003097,-0.031350,-0.015204,-0.060349,-0.087951,-0.030969,1.000000,...,0.017234,-0.017234,-0.015649,0.039371,-0.004815,-0.016300,-0.016769,-0.009375,0.026059,-0.015195
job_management,-0.023571,0.067797,-0.008323,0.016686,-0.007871,0.019579,-0.184835,-0.269376,-0.094850,-0.086372,...,0.038904,-0.038904,0.101853,-0.030362,-0.090999,0.003276,0.002223,0.021453,-0.013755,0.032919
job_retired,0.447378,0.046900,0.026032,-0.030913,-0.006315,0.005818,-0.082511,-0.120251,-0.042342,-0.038557,...,0.014861,-0.014861,-0.020484,0.107299,-0.036504,-0.005031,-0.004691,0.055485,-0.019368,0.079245
job_self-employed,-0.008093,0.017850,0.007383,0.005479,-0.010356,-0.002371,-0.068364,-0.099633,-0.035082,-0.031946,...,0.007882,-0.007882,0.015440,-0.001716,-0.015358,-0.002390,-0.001989,0.001494,0.002246,0.000855
job_services,-0.065780,-0.038151,0.001427,-0.004671,0.005710,-0.010926,-0.114309,-0.166592,-0.058659,-0.053416,...,-0.035575,0.035575,-0.030893,-0.012178,0.039184,-0.001553,0.003077,-0.022934,0.010347,-0.027864
job_student,-0.197302,0.001233,-0.006504,-0.021813,0.024486,0.023556,-0.052308,-0.076234,-0.026843,-0.024443,...,0.058503,-0.058503,0.029049,0.024493,-0.043908,0.007646,0.033633,0.048048,-0.045715,0.076897
job_technician,-0.068632,-0.016183,-0.009176,0.020739,-0.013478,-0.001123,-0.161505,-0.235376,-0.082878,-0.075470,...,-0.014798,0.014798,0.056982,-0.040357,-0.038252,-0.005049,-0.003049,-0.002929,0.006986,-0.008970
job_unemployed,0.000412,0.009023,0.020322,-0.018448,-0.010411,-0.008504,-0.061907,-0.090223,-0.031768,-0.028929,...,0.035961,-0.035961,0.013007,0.008759,-0.018464,-0.012438,-0.010725,0.015044,0.008497,0.020390
job_unknown,0.050200,0.010784,-0.006390,0.014091,-0.015366,-0.009068,-0.028774,-0.041935,-0.014766,-0.013446,...,0.031943,-0.031943,-0.032331,0.031162,0.017228,-0.010034,-0.013678,0.002126,0.014083,0.000267
marital_divorced,0.164674,-0.021732,0.006100,-0.015484,0.002897,-0.004534,0.033624,-0.062518,0.003007,0.017473,...,-0.016377,0.016377,-0.006786,-0.017993,0.016904,-0.001884,0.003887,-0.008490,0.003478,0.002772
marital_married,0.286257,0.025708,-0.022683,0.031371,-0.027600,-0.012691,-0.059572,0.122033,0.044319,0.045816,...,-0.036906,0.036906,-0.043477,0.048970,0.019342,-0.004516,-0.027570,-0.018484,0.026338,-0.060260
marital_single,-0.427817,-0.012537,0.020328,-0.023120,0.027943,0.017006,0.040912,-0.088315,-0.050297,-0.062177,...,0.051716,-0.051716,0.052061,-0.040468,-0.033001,0.006244,0.027208,0.026105,-0.031089,0.063526
education_primary,0.196182,-0.015451,-0.003660,0.009616,-0.017373,-0.016705,-0.111364,0.342688,-0.014641,0.165842,...,0.012396,-0.012396,-0.112307,0.070841,0.080104,-0.019776,-0.010871,-0.032937,0.036803,-0.040393
education_secondary,-0.093979,-0.069937,0.002084,-0.020893,0.022105,-0.005603,0.217639,0.040548,-0.054865,-0.065396,...,-0.070625,0.070625,-0.031579,-0.022797,0.045659,0.010510,0.009568,-0.024728,-0.001847,-0.036388
education_tertiary,-0.081629,0.084001,0.000891,0.012866,-0.007568,0.022888,-0.144780,-0.320541,0.067639,-0.057004,...,0.045940,-0.045940,0.144641,-0.044719,-0.128359,0.007827,0.000657,0.047927,-0.028937,0.066448
education_unknown,0.069665,0.011181,-0.000682,0.005704,-0.006907,-0.008257,-0.014495,0.014715,0.009325,-0.004048,...,0.049992,-0.049992,-0.049663,0.032101,0.035002,-0.008713,-0.005966,0.011743,0.004600,0.012053
default_no,0.017879,0.066745,0.010021,-0.016822,0.029979,0.018329,0.010037,-0.010341,-0.026281,0.000359,...,0.077234,-0.077234,0.010061,0.017208,-0.019933,0.026389,0.014445,0.023344,-0.039490,0.022419
default_yes,-0.017879,-0.066745,-0.010021,0.016822,-0.029979,-0.018329,-0.010037,0.010341,0.026281,-0.000359,...,-0.077234,0.077234,-0.010061,-0.017208,0.019933,-0.026389,-0.014445,-0.023344,0.039490,-0.022419
housing_no,0.185513,0.068768,-0.005075,0.023599,-0.124178,-0.037076,-0.043046,-0.177475,-0.010600,0.079380,...,0.041323,-0.041323,0.156071,0.080822,-0.208409,-0.106795,-0.039710,0.091360,0.063755,0.139173
housing_yes,-0.185513,-0.068768,0.005075,-0.023599,0.124178,0.037076,0.043046,0.177475,0.010600,-0.079380,...,-0.041323,0.041323,-0.156071,-0.080822,0.208409,0.106795,0.039710,-0.091360,-0.063755,-0.139173
loan_no,0.015655,0.084350,0.012412,-0.009980,0.022754,0.011043,-0.030781,-0.018291,-0.039808,0.017234,...,1.000000,-1.000000,-0.013604,0.013183,0.007211,0.002186,0.009099,0.053713,-0.031406,0.068185
loan_yes,-0.015655,-0.084350,-0.012412,0.009980,-0.022754,-0.011043,0.030781,0.018291,0.039808,-0.017234,...,-1.000000,1.000000,0.013604,-0.013183,-0.007211,-0.002186,-0.009099,-0.053713,0.031406,-0.068185
contact_cellular,-0.068375,0.015880,0.025543,-0.032271,0.225996,0.131717,0.000660,-0.129316,-0.002386,-0.015649,...,-0.013604,0.013604,1.000000,-0.355403,-0.862398,0.201732,0.104321,0.104665,-0.264426,0.135873
contact_telephone,0.170349,0.037999,-0.023201,0.053895,0.016006,0.028097,-0.012291,-0.003190,-0.004338,0.039371,...,0.013183,-0.013183,-0.355403,1.000000,-0.166683,0.007537,0.026351,0.008470,-0.023487,0.014042
contact_unknown,-0.020132,-0.037331,-0.014379,0.004853,-0.247068,-0.154162,0.005961,0.138141,0.004867,-0.004815,...,0.007211,-0.007211,-0.862398,-0.166683,1.000000,-0.216885,-0.124318,-0.114997,0.291657,-0.150935
poutcome_failure,-0.004927,0.011857,-0.018925,-0.088131,0.701052,0.350627,0.018431,0.002254,0.001119,-0.016300,...,0.002186,-0.002186,0.201732,0.007537,-0.216885,1.000000,-0.071820,-0.064838,-0.737932,0.009885
poutcome_other,-0.022967,0.008466,-0.001958,-0.020107,0.389791,0.306615,0.010745,0.001342,-0.013506,-0.016769,...,0.009099,-0.009099,0.104321,0.026351,-0.124318,-0.071820,1.000000,-0.038300,-0.435903,0.031955
poutcome_success,0.035526,0.035240,0.042389,-0.057486,0.228539,0.201424,0.012056,-0.053074,-0.019111,-0.009375,...,0.053713,-0.053713,0.104665,0.008470,-0.114997,-0.064838,-0.038300,1.000000,-0.393525,0.306788
poutcome_unknown,-0.000816,-0.030271,-0.003491,0.107965,-0.869962,-0.532763,-0.025940,0.022194,0.014901,0.026059,...,-0.031406,0.031406,-0.264426,-0.023487,0.291657,-0.737932,-0.435903,-0.393525,1.000000,-0.167051
Subscribed,0.025155,0.052838,0.394521,-0.073172,0.103621,0.093236,0.005637,-0.072083,-0.019662,-0.015195,...,0.068185,-0.068185,0.135873,0.014042,-0.150935,0.009885,0.031955,0.306788,-0.167051,1.000000

In [23]:
df_1.shape

(45211, 39)

In [24]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   duration             45211 non-null  int64
 3   campaign             45211 non-null  int64
 4   pdays                45211 non-null  int64
 5   previous             45211 non-null  int64
 6   job_admin.           45211 non-null  uint8
 7   job_blue-collar      45211 non-null  uint8
 8   job_entrepreneur     45211 non-null  uint8
 9   job_housemaid        45211 non-null  uint8
 10  job_management       45211 non-null  uint8
 11  job_retired          45211 non-null  uint8
 12  job_self-employed    45211 non-null  uint8
 13  job_services         45211 non-null  uint8
 14  job_student          45211 non-null  uint8
 15  job_technician       45211 non-null  uint8
 16  job_unemployed       45211 non-null  uint8
 17  job_unknown          45211 non-null  uint8
 18  marital_divorced     45211 non-null  uint8
 19  marital_married      45211 non-null  uint8
 20  marital_single       45211 non-null  uint8
 21  education_primary    45211 non-null  uint8
 22  education_secondary  45211 non-null  uint8
 23  education_tertiary   45211 non-null  uint8
 24  education_unknown    45211 non-null  uint8
 25  default_no           45211 non-null  uint8
 26  default_yes          45211 non-null  uint8
 27  housing_no           45211 non-null  uint8
 28  housing_yes          45211 non-null  uint8
 29  loan_no              45211 non-null  uint8
 30  loan_yes             45211 non-null  uint8
 31  contact_cellular     45211 non-null  uint8
 32  contact_telephone    45211 non-null  uint8
 33  contact_unknown      45211 non-null  uint8
 34  poutcome_failure     45211 non-null  uint8
 35  poutcome_other       45211 non-null  uint8
 36  poutcome_success     45211 non-null  uint8
 37  poutcome_unknown     45211 non-null  uint8
 38  Subscribed           45211 non-null  uint8
dtypes: int64(6), uint8(33)
memory usage: 3.5 MB

In [26]:
X = df_1.iloc[:,0:38]
Y = df_1.iloc[:,38]

In [45]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

In [46]:
classifier = LogisticRegression()
classifier.fit(X,Y)

C:\Users\Vaibhav\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
y_pred = classifier.predict(X)

In [39]:
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=uint8)

In [41]:
Y_Predicted = pd.DataFrame({'actual':Y, 'Predicted':y_pred})
Y_Predicted

       actual  Predicted
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0
...       ...        ...
45206       1          1
45207       1          0
45208       1          1
45209       0          0
45210       0          0

[45211 rows x 2 columns]

In [44]:
from sklearn.metrics import confusion_matrix

confusion_matrix=confusion_matrix(Y,y_pred)
confusion_matrix

array([[39313,   609],
       [ 4298,   991]], dtype=int64)

In [42]:
((39255+1037)/(39255+667+4252+1037))*100

89.11990444803256

### Classification Report

In [43]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     39922
           1       0.62      0.19      0.29      5289

    accuracy                           0.89     45211
   macro avg       0.76      0.59      0.61     45211
weighted avg       0.87      0.89      0.86     45211